:root{
    --primary-color: #36454f;
    --secondary-color: #36494f;
    --darker-color: #263337;
    --contrast-color: #383b4f;

}

html {
    height: 100%;
    font-size:100%;

}

body {
    min-height: 100%;
    overflow-x: hidden;
    color: #babaca;
    margin: 0;
    background-color: #121212eb;
    height: 100%;
}

#app {
    height: 100%;
}
